<!-- User details -->
<div class="user-details">
  <h1> Sobre mí </h1>
<!-- Photo -->
  <div class="user-photo">
    <img class="photo" alt="" type="png" src="{{ "/assets/img/a_jimenez.png" | prepend: site.baseurl }}" />
  </div>
<!-- Description -->
  <div class="user-description">
    <p> Mi nombre es Antonio, vivo en Madrid (España), y estoy finalizando mis estudios <br> de Data Science en la escuela 
      <a class="tb-href" target="_blank" href="https://www.thebridge.tech"> The Bridge <img class="fa icon-tb" src="{{ "/assets/img/icono_TB.png" | prepend: site.baseurl }}"> </a> <br> <br>
      Adicionalmente, me he formado con Python en el ámbito de la Ciencia de Datos, <br> realizando distintos cursos, certificaciones y proyectos que puedes consultar 
      <a class="ref-projects" href="#projects" data-scroll> aquí.
        <i class="fa fa-arrow-right go-to-projects"> </i>
      </a> 
      <br> <br> Estoy buscando entrar al mercado laboral como Data Scientist, para seguir formándome, <br> y me gustaría tener la oportunidad de participar en proyectos interesantes, porque me apasiona lo que hago.
      <br> Puedes contactar conmigo por LinkedIn o directamente en mi e-mail.
    </p>
  </div>
</div>
<!-- Personal skills -->
  <div class="user">
    <div class="tech">
<!-- Personal skills icons -->
      <h2> Habilidades profesionales </h2>
      <img class="devicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
      <img class="devicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" />
      <img class="devicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pandas/pandas-original-wordmark.svg" />
      <img class="devicon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tensorflow/tensorflow-original.svg"/>
    </div>
</div>
<!-- Arrow to projects -->
<div class="projects-arrow">
  <a class="down-projects" href="#projects" data-scroll> 
    <i class="icon fa fa-chevron-down" aria-hidden="true"> </i> 
  </a>
</div>
