<!-- Footer -->
<footer class="footer">
<!-- Mail -->
    <div class="footer-mail">
        <i class="icon fa fa-envelope-o" aria-hidden="false"> </i>
        <p> Ajimenezadalia@gmail.com </p>
    </div>
<!-- Copyright -->
    <div class="footer-copyright">
        <p> &copy; Antonio Jimenez Adalia <comment class="footer-commit"> by Jorge Martin </comment> </p>
    </div>
</footer>
<!-- JavaScript functions: Particles | Sweet Scroll -->
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"> </script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"> </script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"> </script>
<!-- EOF  -->