<!-- HEADER | Theme: Particles by Vincent Garreau -->
<div id="particles-js">
  <div class="header">
      <h1>
<!-- Name -->
        <span class="site-title"> Antonio Jiménez </span>
        <br>
<!-- Description -->
        <span class="site-description"> Data Scientist </span>
      </h1>
<!-- Socials -->
      <div class="header-icons">
        <a aria-label="Send email" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=ajimenezadalia@gmail.com&body=my-text"> 
          <i class="icon fa fa-envelope"> </i> 
        </a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/ajimenezadalia/?originalSubdomain=es"> 
          <i class="icon fa fa-linkedin" aria-hidden="true"> </i> 
        </a>
        <a aria-label="My Github" target="_blank" href="https://github.com/aJimenezAdalia"> 
          <i class="icon fa fa-github-alt" aria-hidden="true"> </i> 
        </a>
    </div>
<!-- Web sections -->
      <div class="header-links">
        <a class="link" href="#about" data-scroll> Sobre mí </a>
        <a class="link" href="#projects" data-scroll> Proyectos </a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"> </i> </a>
</div>
