
<!--Personal projects-->
<div class="user-details">
  <h1> Proyectos personales </h1>
</div>

<!-- Proyect: Eda microsoft stocks -->
<div class="user-projects">
  <!-- Proyect image -->
    <div class="images-left">
      <a href="projects/3/eda_microsoft_stocks.html">
        <img alt="" src="{{ "/assets/img/projects/front_project_2.jpg" | prepend: site.baseurl }}" />
      </a>
    </div>
  <!-- Destription -->
    <div class="contents-right">
      <h3>
        <!-- <a class="project-link-title" href="projects/3/eda_microsoft_stocks.html"> -->
          Stock predictions with Prophet 
        <!-- </a> -->
      </h3>
      <p> Can we predict the price of Microsoft Stocks in 2021? <br> We'll try to make it possible with Facebook Prophet. </p>
      <ul>
        <li> Machine Learning </li>
      </ul>
  <!-- Links -->
      <div class="links">
        <a class="project-link" href="projects/3/eda_microsoft_stocks.html"> Ver Notebook
          <span class="flag-icon flag-icon-gbr"> </span>
        </a>
        <a href="https://github.com/aJimenezAdalia/stocks_prediction_prophet">
          <i class="icon fa fa-github github-link" aria-hidden="true"> </i>
        </a>
      </div>  
    </div>
  </div>

<!-- Proyect: Spain unemployment analysis -->
<div class="user-projects">
<!-- Proyect image -->
  <div class="images-right">
    <a href="projects/2/spain-unemployment-analysis.html">
      <img alt="" src="{{ "/assets/img/projects/front_project_1.jpg" | prepend: site.baseurl }}" />
    </a>
  </div>
<!-- Destription -->
  <div class="contents">
    <h3>
      <!-- <a class="project-link-title" href="projects/2/spain-unemployment-analysis.html"> -->
        Spain  Unemployment Analysis 
      <!-- </a> -->
    </h3>
    <p> Spain is the country with the highest unemployment rate in Europe. <br> <br> Let's analyze why. </p>
    <ul>
      <li> Data Analysis </li>
    </ul>
<!-- Links -->
    <div class="links">
      <a class="project-link" href="projects/2/spain-unemployment-analysis.html"> Ver Notebook
        <span class="flag-icon flag-icon-gbr"> </span>
      </a>
      <a href="https://github.com/aJimenezAdalia/indicadores_economicos_espana">
        <i class="icon fa fa-github github-link" aria-hidden="true"> </i>
      </a>
    </div>
  </div>
</div>

<!-- Proyect: Analisis Mercado Apps -->
<div class="user-projects">
  <!-- Proyect Image -->
    <div class="images-left-apps">
      <table class="apps-nb">
        <tr>
          <td class="first-nb-apps nb">
            <a href="projects/1/mercado_apps_1.html">
              <img alt="" src="{{ "/assets/img/projects/image_part_001.png" | prepend: site.baseurl }}" />
              <div class="td-notebooks"> Primera parte </div>
            </a>
          </td>
          <td class="second-nb-apps nb">
            <a href="projects/1/mercado_apps_2.html">
              <img alt="" src="{{ "/assets/img/projects/image_part_002.png" | prepend: site.baseurl }}" />
              <div class="td-notebooks"> Segunda parte </div>
            </a>
          </td>
        </tr>
        <tr>
          <td class="third-nb-apps nb">
            <a href="projects/1/mercado_apps_3.html">
              <img alt="" src="{{ "/assets/img/projects/image_part_003.png" | prepend: site.baseurl }}" />
              <div class="td-notebooks"> Tercera parte </div>
            </a>
          </td>
          <td class="fourth-nb-apps nb">
            <a href="projects/1/mercado_apps_4.html">
              <img alt="" src="{{ "/assets/img/projects/image_part_004.png" | prepend: site.baseurl }}" />
              <div class="td-notebooks"> Cuarta parte </div>
            </a>
          </td>
        </tr>
      </table>
    </div>
  <!-- Destription -->
    <div class="contents-right">
      <h3> 
        <!-- <a class="project-link-title" href="projects/1/mercado_apps_1.html"> -->
          Análisis de mercado de apps móviles 
        <!-- </a> -->
        <comment class="project-commit"> (4 Partes) </comment>
      </h3>
      <p> Exploramos el mercado de las apps móviles en busca de un nicho de mercado. </p>
      <ul>
        <li> Data analysis </li>
      </ul>
      <div class="links">
        <a class="project-link drop-btn" onclick="dropdown()">Ver Notebooks
          <span class="flag-icon flag-icon-esp"> </span>
            </a>
            <a href="https://github.com/aJimenezAdalia/mercado_apps">
              <i class="icon fa fa-github github-link" aria-hidden="true"> </i>
            </a>    
            <div class="projects-menu" id="drop-menu">
                <a class="nb-parts" href="projects/1/mercado_apps_1.html"> Mercado apps (Parte 1) </a> <br> 
                <a class="nb-parts" href="projects/1/mercado_apps_2.html"> Mercado apps (Parte 2) </a> <br> 
                <a class="nb-parts" href="projects/1/mercado_apps_3.html"> Mercado apps (Parte 3) </a> <br>
                <a class="nb-parts" href="projects/1/mercado_apps_4.html"> Mercado apps (Parte 4) </a> <br>
            </div>
      </div>
    </div>
  </div>

  <!-- Proyect: Detección de impagos -->
<div class="user-projects">
<!-- Proyect image -->
  <div class="images-right">
    <a href="projects/4/deteccion_impagos_bancarios.html">
      <img alt="" src="{{ "/assets/img/projects/front_project_3.jpg" | prepend: site.baseurl }}" />
    </a>
  </div>
<!-- Description -->
  <div class="contents">
    <h3>
      <!-- <a class="project-link-title" href="projects/4/deteccion_impagos_bancarios.html"> -->
        Detección de Impagos Bancarios
      <!-- </a> -->
    </h3>
    <p> Construimos un modelo de Machine Learning que prediga la probabilidad de que un cliente sufra dificultades financieras en el futuro, y por tanto, tenga una alta probabilidad de impagos. <br> </p>
    <ul>
      <li> Machine Learning </li>
    </ul>
<!-- Links --> 
    <div class="links">
      <a class="project-link" href="projects/4/deteccion_impagos_bancarios.html"> Ver Notebook
        <span class="flag-icon flag-icon-esp"> </span>
      </a>
      <a href="https://github.com/aJimenezAdalia/deteccion_impagos">
        <i class="icon fa fa-github github-link" aria-hidden="true">
        </i>
      </a>
    </div>
  </div>
</div>
<!-- show all proyects ... -->
<div class="btn-show-area" id="btn-show-area">
  <div class="btn-show"  onclick="displayall()">
    <a> Ver mas &nbsp; </a> <i class="fa fa-eye"> </i>
  </div>
</div>
<div class="all-projects" id="all-projects">

<!-- Proyect: Analisis puntuaciones sat -->
<div class="user-projects">
  <!-- Proyect Image -->
    <div class="images-left">
      <a href="projects/5/analisis-puntuaciones-sat.html">
        <img alt="" src="{{ "/assets/img/projects/front_project_5.jpg" | prepend: site.baseurl }}" />
      </a>  
    </div>
  <!-- Destription -->
    <div class="contents-right">
      <h3> 
        <!-- <a class="project-link-title" href="projects/5/analisis-puntuaciones-sat.html"> -->
          Influencia de factores socio-económicos sobre el rendimiento académico de los alumnos 
        <!-- </a> -->
      </h3>
      <p> Analizamos de qué manera pueden influir diferentes factores personales de los alumnos en sus notas de Selectividad. </p>
      <ul>
        <li> Data analysis </li>
      </ul>
      <a class="project-link" href="projects/5/analisis-puntuaciones-sat.html"> Ver Notebook
        <span class="flag-icon flag-icon-esp"> </span>
      </a>
      <a href="https://github.com/aJimenezAdalia/examenes_SAT">
        <i class="icon fa fa-github github-link" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <!-- Proyect: H1N1 and Seasonal Flu Vaccines -->
<div class="user-projects">
  <!-- Proyect image -->
    <div class="images-right">
      <a href="projects/6/h1n1_vaccine.html">
        <img alt="" src="{{ "/assets/img/projects/front_project_6.jpg" | prepend: site.baseurl }}" />
      </a>
    </div>
  <!-- Description -->
    <div class="contents fix">
      <h3>
        <!-- <a class="project-link-title" href="projects/6/h1n1_vaccine.html"> -->
          H1N1 and Seasonal Flu Vaccines: how likely are individuals to receive them?
        <!-- </a> -->
      </h3>
      <p> We predict the likelihood that citizens will receive the H1N1 and flu vaccines using Deep Learning. <br> </p>
      <ul>
        <li> Machine Learning </li>
      </ul>
  <!-- Links --> 
      <div class="links">
        <a class="project-link" href="projects/6/h1n1_vaccine.html"> Ver Notebook
          <span class="flag-icon flag-icon-gbr"> </span>
        </a>
        <a href="https://github.com/aJimenezAdalia/h1n1_vaccine_predictions">
          <i class="icon fa fa-github github-link" aria-hidden="true">
          </i>
        </a>
      </div>
    </div>
  </div>
<!-- show less proyects ... -->
  <div class="btn-show-area" id="btn-show-area">
    <div class="btn-show" id="btn-show-less" onclick="displayless()">
      <a> Ver menos &nbsp; <i class="fa fa-eye-slash"> </i> </a>
    </div>
  </div>
</div>
